<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>BasicWeb</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<listener>
		<display-name>myBatisLoader</display-name>
		<listener-class>common.MyBatisLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>common.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 서블릿 파일 정보 -->
	<servlet>
		<servlet-name>exercise</servlet-name>
		<servlet-class>chapter04.ExerciseServlet</servlet-class>
	</servlet>
	<!-- 서블릿 파일과 연결된 url 정보 -->
	<servlet-mapping>
		<servlet-name>exercise</servlet-name>
		<url-pattern>/ex</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>mypage</servlet-name>
		<servlet-class>chapter04.MyPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mypage</servlet-name>
		<url-pattern>/mypage</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>memberList</servlet-name>
		<servlet-class>chapter05.MemberListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>memberList</servlet-name>
		<url-pattern>/member/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>memberInsert</servlet-name>
		<servlet-class>chapter05.MemberInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>memberInsert</servlet-name>
		<url-pattern>/member/insert</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>memberDetail</servlet-name>
		<servlet-class>chapter05.MemberDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>memberDetail</servlet-name>
		<url-pattern>/member/detail</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>memberDelete</servlet-name>
		<servlet-class>chapter05.MemberDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>memberDelete</servlet-name>
		<url-pattern>/member/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>memberUpdate</servlet-name>
		<servlet-class>chapter05.MemberUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>memberUpdate</servlet-name>
		<url-pattern>/member/update</url-pattern>
	</servlet-mapping>
	
<!-- 	<servlet> -->
<!-- 		<servlet-name>boardRegister</servlet-name> -->
<!-- 		<servlet-class>board.BoardRegisterServlet</servlet-class> -->
<!-- 		<multipart-config> -->
<!-- 			<max-file-size>10485760</max-file-size> -->
<!-- 		</multipart-config> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>boardRegister</servlet-name> -->
<!-- 		<url-pattern>/boards/register</url-pattern> -->
<!-- 	</servlet-mapping> -->
</web-app>











